:root {
    --text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 100);
    --text-shadow-cyan: 0.1rem 0.1rem 1rem cyan;
    --text-shadow-white: 0.1rem 0.1rem 0.1rem rgb(255, 255, 255);
    --text-shadow-dblue: 0.1rem 0.1rem 1rem rgb(20, 37, 189);
    --grey-scale: grayscale(100%);
    --color: rgb(255, 255, 255);
    --box-shadow-focus: 0rem 0rem 1rem rgb(247, 62, 133);
    --contact-box-shadow-cyan: 0rem 0rem 0.3rem cyan;
    --contact-box-shadow-dblue: 0rem 0rem 1rem rgb(20, 37, 189);
}

* {
    box-sizing: border-box;
}

html,
body {
    font-size: 1rem;
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(220, 238, 248, 100);
    line-height: 2rem;

}

header {
    width: 100%;
    height: max-content;
}

/* horizontal rule styling so it looks pretty */

hr {
    border: none;
    margin: 3rem;
    align: center;
    border: 0;
    height: 0.2rem;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(1, 11, 102, 0.75), rgba(0, 0, 0, 0))
}

/* styling and positioning for main body text and headings */

main h2 {
    font-size: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    text-shadow: var(--text-shadow-white), 0rem 0rem 1rem rgb(247, 62, 133);
}

section p {
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 1rem;
}

/* the hero image */
.hero-image {
    background-image: url(../images/heroimage.jpg);
    height: 100%;
    padding-bottom: 1rem;
    margin: 0;

    /* position and center the image so it scales for all screen sizes */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* position the hero text */
.hero-text {
    text-align: left;
    color: var(--color);
    margin-left: 2rem;

}

/* hero text font styling */

.hero-text h1 {
    font-size: 3rem;
    line-height: 3rem;
    width: 100%;
    padding-top: 2rem;
    margin-bottom: 2rem;

    /* make it glow! */
    text-shadow: 0.1rem 0.1rem 1rem cyan, var(--text-shadow);

}

.hero-text p {
    width: 100%;
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 200;
    word-spacing: -0.3rem;

    /* make it glow! */
    text-shadow: 0rem 0rem 0.5rem black, 0rem 0rem 1rem rgb(247, 62, 133);
    text-shadow: 0rem 0rem 0.5rem white, 0rem 0rem 1rem rgb(247, 62, 133);

}

/* Navigation menu */

nav {
    padding: 0.5rem;
    font-weight: 500;
    font-size: 1.4rem;

}

ul.navigation {
    list-style: none;
    text-align: end;
}

/* link styling */

a {
    color: var(--color);
    text-shadow: var(--text-shadow);
    display: block;
}

/* make the links and linked icons glow on hover */

a:hover {
    text-shadow: 0px 0px 8px rgb(17, 238, 219), 0 0 15px rgb(124, 137, 253);

}

/* box shadow colour needs to be inverted because of invert filter on icons */
.contact-icon:hover {
    box-shadow: 0rem 0rem 2rem rgb(238, 17, 36);

}

/* styling links for accessibility by adding underlines on the icons and focus for all anchors */

.contact-icon {
    border-bottom: 0.07rem solid black;
    padding-bottom: 0.2rem;
}

a:focus {
    box-shadow: var(--box-shadow-focus);
    padding: 0.3rem;

}

/* top navigation menu */

.nav-flex-container {
    /* Just so I can see the borders of the container
    border: 2px solid blueviolet; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
    /* padding-right: 1rem; */
}

.nav-flex-item1 {
    /* Just so I can see the borders of the container */
    /* border: 2px solid yellow; */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 10%;
    max-width: 100%;
    padding-right: 1rem;
}

/* styling and positioning for About Me flexbox */

div.major-flex-box-about1 {
    /* Just so I can see the borders of the container */
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 2rem;

}

div.major-flex-box-about2 {
    /* Just so I can see the borders of the container */
    /* border: 3px dashed greenyellow; */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%;
    width: 100%;

}

img.profile-pic {
    /* Just so I can see the borders of the container
    border: 2px solid yellow; */
    width: 23rem;
    height: auto;
    border-radius: 5%;
    display: flex;

}

div.about-me-flex {
    /* Just so I can see the borders of the container
    border: 3px dashed cyan; */
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 10%;

}

/* styling and positioning of flexbox for the My Work section */

div.flex-work-containers {
    /* Just so I can see the borders of the container
    border: 5px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    padding: 1rem;
}

div.flex-work-containers img {
    width: 100%;
}

div.flex-work-item1 {
    /* just so I can see the edge of the flex items
    border: 5px solid yellow; */
    max-width: 100%;
    flex: 2 0 100%;

}

div.flex-work-item2 {
    /* just so I can see the edge of the flex items border: 5px solid green; */
    max-width: 100%;
    padding: 1rem;
    flex: 1 0 50%;

}

/* Heading for the code refactor work */

p.code-refactor {
    text-align: center;
    line-height: 2.5rem;
    font-size: 2rem;
    font-weight: 600;
    white-space: nowrap;
    text-shadow: var(--text-shadow-white), var(--text-shadow-dblue);

}

/* Headings on smaller flex-work-items*/

p.other-projects {
    text-align: center;
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    white-space: nowrap;
    text-shadow: var(--text-shadow-white), var(--text-shadow-dblue);

}

/* styling for contact form */

section.contact-flex-box {
    /* just so I know where the borders are!
    border: 1px solid yellow; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    padding: 1rem;

}

div.contact-container {
    /* just so I know where the borders are!
    border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    padding: 1rem;
    flex: 1 0 50%;
}

div.contact-form-container {
    /* just so I know where the borders are!
    border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    padding: 1rem;
    flex: 1 0 50%;
}


div.contact-flex-item1 {
    /* just so I know where the borders are!
    border: 1px solid green;     */
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
}

form.contact-form {
    text-align: left;
    line-height: 2rem;
    margin: 1.5rem;
    padding: 1.5rem;
    text-shadow: var(--text-shadow-white);
    box-shadow: var(--contact-box-shadow-dblue)
}

form.contact-form label {
    display: block;
    margin-bottom: 1rem;
    font-weight: 600;

}

input {
    width: 100%;
}

input[type=text] {
    padding: 0.5rem;
    border-radius: 0.2rem;
    outline: none;
    margin-bottom: 1rem;

}

input:hover {
    box-shadow: var(--contact-box-shadow-cyan)
}

input:focus {
    box-shadow: var(--box-shadow-focus);
    border-color: var(--color);

}

textarea {
    border-radius: 0.2rem;
    outline: none;
    width: 100%;
}

textarea:hover {
    box-shadow: var(--contact-box-shadow-cyan)
}

textarea:focus {
    box-shadow: var(--box-shadow-focus);
}

button {
    /* reset browser defaults to zero */
    appearance: none;
    -webkit-appearance: none;

    display: block;
    padding: 0.5rem;
    margin-top: 1rem;
    box-shadow: var(--contact-box-shadow-dblue);
    border-radius: 0.2rem;
    width: 6rem;
    font-weight: 600;
    text-align: center;

}

button:hover {
    box-shadow: var(--contact-box-shadow-cyan);
    cursor: pointer;
    background-image: url(../images/heroimage.jpg);
    color: var(--color);
    text-shadow: var(--text-shadow);
}


/* positioning contact icons and inverting the colour because the original files were black*/

ul.contact {
    list-style-type: none;
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
    padding-top: 0.5rem;
}

.contact-icon {
    display: inline-block;
    /* width: 32px;
    height: 32px; */
    margin-right: 0.5rem;
    vertical-align: middle;
    filter: invert();
}

/* flexbox for contact icons */

.nav-flex-container-contact {
    /* Just so I can see the borders of the container
    border: 2px solid blueviolet; */
    background-image: url(../images/heroimage.jpg);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.nav-flex-contact-item1 {
    /* Just so I can see the borders of the container
    border: 2px solid yellow; */
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 33%;
    max-width: 100%;
}

footer {
    color: var(--color);
    text-shadow: var(--text-shadow-cyan), var(--text-shadow);
    background-image: url(../images/heroimage.jpg);
    text-align: center;
    padding: 2rem;
}

footer h3 {
    font-size: 1.5rem;
}

/* Make the website responsive for smaller screens with a media query */


@media screen and (max-width: 768px) {

    /* Removing the linear gradient from the hero image because apparently some mobiles don't like them over images*/
    /* Also for some reason mob devices weren't loading the var(--heroimagenogradient) properly so...I've just individually set the bg image */
    .hero-image {
        background-image: url(/assets/images/heroimage.jpg);


    }

    /* Adding this here because the linear gradient doesn't display properly on some mobile devices so the text needs to be changed slighly to increase readability */

    .hero-text p {

        /* make it glow! */
        text-shadow: 0rem 0rem 0.5rem white, 0rem 0rem 1rem rgb(247, 62, 133);

    }

    .flex-work-containers {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 50%;
        max-width: 50%
    }

    /* Removing the linear gradient from the hero image because apparently some mobiles don't like them over images*/

    .nav-flex-container-contact {
        background-image: url(/assets/images/heroimage.jpg)
    }

    /* Removing the linear gradient from the hero image because apparently some mobiles don't like them over images*/

    footer {
        background-image: url(/assets/images/heroimage.jpg);

    }

}

@media screen and (max-width: 992px) {

    /* Removing the linear gradient from the hero image because apparently some mobiles don't like them over images*/

    .hero-image {
        background-image: url(../images/heroimage.jpg);


    }


    /* Adding this here because the linear gradient doesn't display properly on some mobile devices so the text needs to be changed slighly to increase readability */

    .hero-text p {

        /* make it glow! */
        text-shadow: 0rem 0rem 0.5rem white, 0rem 0rem 1rem rgb(247, 62, 133);

    }

    .flex-work-containers {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 33%;
        max-width: 33%
    }

    /* Making the headings for the My Work flex box smaller on smaller screens */

    p.code-refactor {
        text-align: center;
        line-height: 2rem;
        font-size: 2rem;
        font-weight: 600;
        text-shadow: var(--text-shadow-white), var(--text-shadow-dblue);

    }

    p.landing-page,
    p.cheat-sheet {
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        font-weight: 600;
        text-shadow: var(--text-shadow-white), var(--text-shadow-dblue);

    }

    /* Removing the linear gradient from the hero image because apparently some mobiles don't like them over images*/

    .nav-flex-container-contact {
        background-image: url(../images/heroimage.jpg);

    }

    /* Removing the linear gradient from the hero image because apparently some mobiles don't like them over images*/

    footer {
        background-image: url(../images/heroimage.jpg);

    }
}